.catalog, .orders {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  flex-flow: row wrap;
}

.catalog__item {
  padding: 30px;
}

.item {
  display: flex;
  justify-content: center;
}

.buy {
	display: block;
	height: 71px;
	width: 200px;
	border-radius: 35px;
	background-color: #f44336;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color:  #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	line-height: 70px;
	letter-spacing: 6px;
  margin-top: 31px;
  border: none;
}
.buy:hover {
	box-shadow: none;
}
.buy:active {
	box-shadow: none;
	background-color: #d41306;
}