<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин электроники</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    
</head>
<body>
{{ menu|raw }}
{{ content|raw }}
<script src="/js/main.js"></script>
</body>
</html>